@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<button><a asp-action="Create">Add Score</a></button>
<button><a asp-action="CalculateCGPA">Calculate CGPA</a></button>